{% load static %}
<html>
<head>
  <title>Pulp Analytics ({{ deployment }})</title>
  <link rel="icon" type="image/x-icon" href="{% static 'pulpanalytics/favicon.ico' %}"/>
  <meta name="revision" content="{{ revision }}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
</head>
<style>

.wrapper{
  height: 600px;
  width: 800px;
}

</style>
<body>
<div class="wrapper">
  {% for plugin in PLUGINS %}
  <canvas id="{{plugin}}-versions"></canvas>
  {% endfor %}
  <canvas id="worker"></canvas>
  <canvas id="content-app"></canvas>
  <canvas id="demography"></canvas>
  <canvas id="age-count"></canvas>
  <canvas id="postgresql-versions-graph"></canvas>
  <canvas id="users-graph"></canvas>
  <canvas id="groups-graph"></canvas>
  <canvas id="domains-graph"></canvas>
  <canvas id="custom-access-policies-graph"></canvas>
  <canvas id="custom-roles-graph"></canvas>
</div>

{{ demography|json_script:"demography-data" }}

{{ age_count|json_script:"age-count-data" }}

<script>

// Add autocolor support
const autocolors = window['chartjs-plugin-autocolors'];
Chart.register(autocolors);

// Line Charts
[
    {title: 'Users', canvas_id: 'users-graph', url: '/rbac_stats/users/?start_date=2023-03-10&bucket=1'},
    {title: 'Groups', canvas_id: 'groups-graph', url: '/rbac_stats/groups/?start_date=2023-03-10&bucket=1'},
    {title: 'Domains', canvas_id: 'domains-graph', url: '/rbac_stats/domains/?start_date=2023-03-10&bucket=1'},
    {title: 'Custom Access Policies', canvas_id: 'custom-access-policies-graph', url: '/rbac_stats/custom_access_policies/?start_date=2023-03-10&bucket=1'},
    {title: 'Custom Roles', canvas_id: 'custom-roles-graph', url: '/rbac_stats/custom_roles/?start_date=2023-03-10&bucket=1'},
{% for plugin in PLUGINS %}
    {title: '{{ plugin|capfirst }} Plugin Versions', canvas_id: '{{ plugin }}-versions', url: '/plugin_stats/{{ plugin }}/'},
{% endfor %}
].forEach((item) => {
    const element = document.getElementById(item.canvas_id);
    const chart = new Chart(element, {
        type: item.type || 'line',
        data: {},
        options: {
            plugins: {
                title: {
                    display: true,
                    text: item.title
                }
            },
            scales: {
                x: { type: 'time', time: { unit: 'day' } },
                y: { beginAtZero: true, stacked: true }
            }
        }
    });
    fetch(item.url).then(res => res.json()).then(data => {
        chart.data = data;
        chart.update();
    });
});
// Pie charts
[
    {title: 'Postgresql Versions', canvas_id: 'postgresql-versions-graph', url: '/postgresql_versions'},
].forEach((item) => {
    const element = document.getElementById(item.canvas_id);
    const chart = new Chart(element, {
        type: 'pie',
        data: {},
        options: {
            plugins: {
                title: {
                    display: true,
                    text: item.title
                },
                autocolors: {
                    mode: 'data'
                }
            },
        }
    });
    fetch(item.url).then(res => res.json()).then(data => {
        chart.data = data;
        chart.update();
    });
});

// Demography
const demography_element = document.getElementById("demography");
const demography_data = JSON.parse(document.getElementById("demography-data").textContent);
const demography_chart = new Chart(demography_element, {
    type: 'line',
    data: {
        datasets: demography_data
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Demography'
            }
        },
        scales: {
            x: {
                type: 'linear',
                title: {
                    display: true,
                    text: 'system age (days)'
                }
            },
            y: { beginAtZero: true }
        }
    }
});

// System age
const age_count_element = document.getElementById("age-count");
const age_count_data = JSON.parse(document.getElementById("age-count-data").textContent);
const age_count_chart = new Chart(age_count_element, {
    type: 'line',
    data: {
        datasets: age_count_data
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "Systems by age"
            }
        },
        scales: {
            x: { type: 'time' },
            y: { beginAtZero: true, stacked: true }
        }
    }
});

// Worker Chart
const worker_element = document.getElementById("worker");
const worker_chart = new Chart(worker_element, {
    type: 'line',
    data: {
        datasets: [{
            label: "Mean Processes",
            data: {{ online_content_apps_processes_avg|safe }}
        }, {
            label: "Mean Hosts",
            data: {{ online_content_apps_hosts_avg|safe }}
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "Content Apps"
            }
        },
        scales: {
            x: { type: 'time' }
        }
    }
});

// Content App Chart
const content_app_element = document.getElementById("content-app");
const content_app_chart = new Chart(content_app_element, {
    type: 'line',
    data: {
        datasets: [{
            label: "Mean Worker Processes",
            data: {{ online_workers_processes_avg|safe }}
        }, {
            label: "Mean Worker Hosts",
            data: {{ online_workers_hosts_avg|safe }}
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "Online Workers"
            }
        },
        scales: {
            x: { type: 'time' }
        }
    }
});

</script>

</body>
</html>
