<html>
<head>
  <title>Pulp Telemetry ({{ deployment }})</title>
  <meta name="revision" content="{{ revision }}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
</head>
<style>

.wrapper{
  height: 600px;
  width: 800px;
}

</style>
<body>
<div class="wrapper">
  {% for plugin in PLUGINS %}
  <canvas id="{{plugin}}-versions"></canvas>
  {% endfor %}
  <canvas id="worker"></canvas>
  <canvas id="content-app"></canvas>
  <canvas id="demography"></canvas>
  <canvas id="age-count"></canvas>
  <canvas id="postgresql-version"></canvas>
</div>

{{ demography|json_script:"demography-data" }}

{{ age_count|json_script:"age-count-data" }}

{{ plugin_xy_versions|json_script:"plugins-data" }}

{{ postgresql_versions_count|json_script:"postgresql-version-count-data" }}

{{ postgresql_versions_labels|json_script:"postgresql-version-label-data" }}

<script>

// Add autocolor support
const autocolors = window['chartjs-plugin-autocolors'];
Chart.register(autocolors);

// Demography
const demography_element = document.getElementById("demography");
const demography_data = JSON.parse(document.getElementById("demography-data").textContent);
const demography_chart = new Chart(demography_element, {
    type: 'line',
    data: {
        datasets: demography_data
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Demography'
            }
        },
        scales: {
            x: {
                type: 'linear',
                title: {
                    display: true,
                    text: 'system age (days)'
                }
            },
            y: { beginAtZero: true }
        }
    }
});

// System age
const age_count_element = document.getElementById("age-count");
const age_count_data = JSON.parse(document.getElementById("age-count-data").textContent);
const age_count_chart = new Chart(age_count_element, {
    type: 'line',
    data: {
        datasets: age_count_data
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "Systems by age"
            }
        },
        scales: {
            x: { type: 'time' },
            y: { beginAtZero: true, stacked: true }
        }
    }
});

// Plugin Versions
const plugins_data = JSON.parse(document.getElementById("plugins-data").textContent);
{% for plugin in PLUGINS %}
const {{ plugin }}_versions_element = document.getElementById("{{ plugin }}-versions");
const {{ plugin }}_versions_chart = new Chart({{ plugin }}_versions_element, {
    type: 'line',
    data: {
        datasets: plugins_data.{{ plugin }}
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "{{ plugin|capfirst }} Plugin Versions"
            }
        },
        scales: {
            x: { type: 'time' }
        }
    }
});
{% endfor %}

// Worker Chart
const worker_element = document.getElementById("worker");
const worker_chart = new Chart(worker_element, {
    type: 'line',
    data: {
        datasets: [{
            label: "Mean Processes",
            data: {{ online_content_apps_processes_avg|safe }}
        }, {
            label: "Mean Hosts",
            data: {{ online_content_apps_hosts_avg|safe }}
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "Content Apps"
            }
        },
        scales: {
            x: { type: 'time' }
        }
    }
});

// Content App Chart
const content_app_element = document.getElementById("content-app");
const content_app_chart = new Chart(content_app_element, {
    type: 'line',
    data: {
        datasets: [{
            label: "Mean Worker Processes",
            data: {{ online_workers_processes_avg|safe }}
        }, {
            label: "Mean Worker Hosts",
            data: {{ online_workers_hosts_avg|safe }}
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "Online Workers"
            }
        },
        scales: {
            x: { type: 'time' }
        }
    }
});

// Postgresql Version Chart
const postgresql_version_element = document.getElementById("postgresql-version");
const postgresql_version_count_data = JSON.parse(document.getElementById("postgresql-version-count-data").textContent);
const postgresql_version_label_data = JSON.parse(document.getElementById("postgresql-version-label-data").textContent);
const postgresql_version_chart = new Chart(postgresql_version_element, {
    type: 'pie',
    data: {
        datasets: [{
            data: postgresql_version_count_data,
        }],
        labels: postgresql_version_label_data
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: "Postgresql Versions"
            },
            autocolors: {
                mode: 'data'
            }
        },
    }
});

</script>

</body>
</html>
